:root {
    --main-color: #6bb0ff; 
    --sec-color: #113f94;
    --base-color: #f4faff;
    --accent-color: #b33771;
    --accent-color2: #440321;
}

h1, h2, h3, h4, h5, h6, p {
   font-family: 'Yantramanav', sans-serif;
   color: var(--sec-color);
}
h2 {
   font-family: 'Yantramanav', sans-serif;
   color: var(--sec-color);
   font-size: 65px;
}
.tc-main {
    color: var(--main-color)
}
.tc-sec {
    color: var(--sec-color)
}
.tc-base {
    color: var(--base-color)
}
.tc-accent {
    color: var(--accent-color)
}
.tc-accent2 {
    color: var(--accent-color2)
}
a {
    color: var(--sec-color);
}
.navbar {
    background-color: transparent;
    display: block;
    align-items: center;
    border-radius:30px;
    border-bottom: 0.5px solid var(--main-color) !important;
}

.navbarBrand {
    font-family: 'Shrikhand', cursive !important;
    font-size: 30px;
    color: var(--main-color) !important;
    margin-right: 0px;
    margin-left:4px;
    background-color: trasparent;
    display: block;
    align-items: center;
    text-decoration: none;
    
    
} 
.icon-logo {
    color: var(--accent-color) !important;
    font-size: 30px; 
    margin-left: 0px;
}
.menu-collapse {
    color: var(--accent-color) !important;
}
.btn-custom {
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
    background-color: var(--accent-color);
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.btn-custom2 {
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
}
.btn-custom3 {
    background-color: transparent !important;
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 4px;
}
.btn-custom4 {
    width: 100px !important;
    height: 100% !important;
    border-color: var(--accent-color) !important;
    border: 2px solid ;
    border-radius: 30px;
    background-color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    color: var(--base-color);
    
   
}
.nav-li-cust {
    color: var(--base-color)!important
}
.cerca-custom {
    border-radius:10px;
    background-color: rgba(205, 207, 207, 0.096);
}
.cerca-custom:focus {
    box-shadow: none;
}


.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./img/rabbit-home.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }


  .border-home {
      border-bottom: 2px solid var(--main-color);
      border-bottom-right-radius: 45px;
      font-size: 100px;
      
  }
  .arrow-cst {
      background-color: transparent;
      border-color: transparent;
      font-size: 60px;
      color: var(--main-color);
      transform: rotate(135deg);
    
    
  }

   .card-custom {
        /* position: absolute;
        margin-top: -250px; */
       border-radius: 50%;
       border: solid 2px var(--main-color) ;
       text-align: center;
       height:auto;
       /* z-index: 999; */
   }
   .card-carrot {
       z-index: -1;
       position: absolute;
       bottom: 23px;
       right: 19px;
       font-size: 230px;
       color: var(--main-color);
       transform: rotate(-35deg);
       /* height: 30px */
   } 


.category-border {
    border-radius:30px;
    border-bottom: 0.5px solid var(--main-color) !important;
}




   .presto-card-overlay {
      background: #6bb0ff7a;
      backdrop-filter: blur(20px);
      transition: all 0.4s ease-in-out;
      color: var(--accent-color2);
      border-radius: 20px;
   }

   .presto-card-overlay:hover {
      backdrop-filter: blur(0px);
      background: #6bb0ff7a;
      color: var(--accent-color2);
      border-radius: 20px;
   }

   .card-car {
       border-radius: 20px;
   }

   .car-cont:focus {
    outline: none !important;
}

   .p-radius {
        border-radius: 20px;
   }

   .btn-car {
       background: var(--accent-color);
       font-size: 15px;
       border: transparent;
   }

.footer {
    background-color: var(--base-color)
}
footer a {
    text-decoration: none;
    font-size:15px;
    letter-spacing: 1px;
    
    

}


 

   @media screen and (max-width: 530px) 
   {.masthead  
     {
     background-position-y: 30%;
     background-position-x: 30%;
     background-size:contain;
     }
     .arrow-align-custom {
         align-items: flex-end !important;
     }
     
 }
 @media screen and (max-width: 1028px)
 {
     .sparisce-sm {
         display: none  !important;
 }
 }
 @media screen and (min-width: 1028px)
 {
     .appare-sm {
         display: none  !important;
 }
 }
    /* background-origin: padding-box; */
    /* .rabbit {
        width: 500px;
        height: 300px;
        position: relative;
        top: -20px;
    }
    .smP {
        height: 180px;
    }
    
}  */